<h1>Что такое C#</h1>
<div class="row mt-5 mb-2">
    <h3>C# - это объектно-ориентированный язык программирования, разработанный компанией Microsoft. Он используется для создания различных приложений, включая игры, мобильные приложения, веб-приложения и другие программы, работающие на платформах Windows, iOS и Android. Он напоминает синтаксис других языков программирования, таких как C++ и Java.</h3>
</div>
